<!DOCTYPE html >
<html lang = "en">
<head>
    <title>mdt password strength demo</title>

    <META NAME = "ROBOTS" CONTENT = "NOINDEX, FOLLOW">
    <META NAME = "ROBOTS" CONTENT = "INDEX, NOFOLLOW">
    <META NAME = "ROBOTS" CONTENT = "NOINDEX, NOFOLLOW">
    <meta charset = "utf-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "description" content = "" >
    <meta name = "viewport" content = "initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href = "//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic" rel = "stylesheet">
    <link href = "//fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.css">

    <style>
        .ng-not-empty.red{
            background-color:  #FFAEAE ;
        }
        .ng-not-empty.orange{
            background-color: #FFF0AA;
        }
        .ng-not-empty.green{
            background-color: #B0E57C;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-aria.min.js"></script>
    <script src="../mdt-password-strength.js"></script>
    <script>
        var app = angular.module('MyApp', ['ngMaterial','ngMessages','ngAnimate','ngAria','mdtPasswordStrength']);
            app.controller('DemoCtrl', function($scope){
                $scope.simpleStrengthRule = {'is`s ok':[6,1,0,0,0]};
            });
    </script>
</head>
<body>


<div class="md-inline-form inputdemoBasicUsage" ng-controller="DemoCtrl" ng-app="MyApp" layout="column" ng-cloak="">



    <md-content layout-padding="">
        <div>
            <form name="userForm">
                <h3>Default</h3>
                <pre>mdt-strength-levels not defined, use defalul {weak:[6,1,1,0,0], medium:[8,2,2,1,0], strong:[9,2,2,2,1]}</pre>

                <input ng-model="password"
                       name="password"
                       required
                       mdt-password-strength
                       mdt-feedback="validationResult_default"/>
                <small> feedback: {{validationResult_default}}</small>
                <hr>

                <h3>Simple</h3>
                <pre> mdt-strength-levels='{{simpleStrengthRule}}'</pre>
                <input ng-model="password"
                       name="password"
                       required
                       mdt-password-strength
                       mdt-feedback="validationResult_simple"
                       mdt-strength-levels="simpleStrengthRule"
                />
                <small> feedback: {{validationResult_simple}}</small>


                <hr>
                <h3>Custom password strength levels</h3>
                <pre>mdt-strength-levels='{red:[6,1,0,0,0],orange:[8,2,1,1,0],green:[9,2,2,2,1]}'</pre>

                <input ng-model="password"
                       name="password"
                       required
                       mdt-password-strength
                       mdt-feedback="validationResult_custom"
                       ng-class="validationResult_custom||'red'"
                       mdt-strength-levels='{red:[6,1,0,0,0],orange:[8,2,1,1,0],green:[9,2,2,2,1]}'
                /><small> feedback: {{validationResult_custom}}</small>
                <hr><br>
                <md-divider></md-divider>
                <h3>Angular Material</h3>

                <pre>mdt-strength-levels='{"weak":[6,1,0,0,0],"fine":[8,2,1,1,0],"strong":[9,2,2,2,1],"unbreakable":[12,2,2,2,2]}'</pre>


                <div layout-gt-xs="row">
                    <md-input-container flex="70">
                        <label>Password</label>
                        <input ng-model="password4" name="password4" type="text" required
                               mdt-password-strength
                               mdt-feedback="validationResult_material"
                               mdt-strength-levels='{"weak":[6,1,0,0,0],"fine":[8,2,1,1,0],"strong":[9,2,2,2,1],"unbreakable":[12,2,2,2,2]}'
                        />

                        <div ng-messages="userForm.password4.$error" multiple md-auto-hide="false">
                            <div ng-message="required">Password cannot be empty</div>
                            <div ng-message="strength">At least 6 characters long and 1 upper case</div>
                        </div>
                    </md-input-container>
                    <div flex="30">
                        <small> feedback: {{validationResult_material}}</small>
                    </div>
                </div>



            </form>
        </div>
    </md-content>

</div>










</body>
</html>
